.center{
    text-align: center;
    margin:auto;
  }
  ion-content {
    overflow-y: scroll;
}
#Homes {
  padding: 10px;
}
#Experiences {
  padding: 90px;
  margin: -60px;
}
#Restaurant {
  padding: 250px;
  margin: -10px;
}
#home {
  border-radius: 8%
}
#card1 {
  display: flex;
  flex-direction: row;
  width: 350px !important;
  height: 140px;
  margin: 0 !important;
 
}
#card2 {
  display: flex;
  flex-direction: row;
  width: 350px !important;
  height: 140px;
  margin: 0 !important;
 
}
#card3 {
  display: flex;
  flex-direction: row;
  width: 350px !important;
  height: 140px;
  margin: 0 !important;
  
}

#experience {
  border-radius:8%
}
#restaurant {
  border-radius: 8%;
}

.flex-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flexplore {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}