
<ion-header>
    <ion-toolbar>
      <ion-title>
        <div class="center"><h1>Trips</h1></div>
      </ion-title>
    </ion-toolbar>
  
  </ion-header>
  <div class="center"><h3>No upcoming trips</h3></div>
  <div class="center"><h3>Start exploring ideas for your next trip</h3></div>
  <ion-button id="button" color="secondary" size="large" shape="round" block href="/tabs/tab5"> Explore Air BnB </ion-button>
  
  <ion-content>
    
      <div class="center"><h2><b>YOUR CURRENT TRIP</b></h2></div>
      
      
      <ion-card *ngFor="let currenttrip of currenttrips" (click)="goCurrent(currenttrip)">
          <ion-img id="photo" src={{currenttrip.imgname}} (click)="goCurrent(currenttrip)"></ion-img>
          <h2><ion-label>{{currenttrip.id}}</ion-label></h2>
            <ion-chip>
              ${{currenttrip.price}} Per Night
            </ion-chip>
            <ion-chip>
              {{currenttrip.startdate}} through {{currenttrip.enddate}}
            </ion-chip>
            <ion-chip>
              {{currenttrip.location}}
            </ion-chip>
     
    </ion-card>
      
       

      <div class="center"><h2><b>WHERE YOU'VE BEEN</b></h2></div>
      <div>
      <ion-list>
          <ion-card *ngFor="let pasttrip of pasttrips" 
                    (click)="navToPasttrip(pasttrip)">
                <ion-img id="photo2" src={{pasttrip.imgName}} (click)="goPasttrip(pasttrips)"></ion-img>
                <h2><ion-label>{{pasttrip.id}}</ion-label></h2>
                  <ion-chip>
                    {{pasttrip.price}}
                  </ion-chip>
                  <ion-chip>
                    {{pasttrip.startdate}} through {{pasttrip.enddate}}
                  </ion-chip>
                  <ion-chip>
                    {{pasttrip.location}}
                  </ion-chip>
           
          </ion-card>
           
       </ion-list>
 
       <ion-list>
         <ion-item *ngFor="let user of users">
           {{user.firstname}}
 
         </ion-item>
       </ion-list>
 
       <div *ngIf="loggedIn === true">
           Logout...
       </div>
      </div>
      <img id="Map" src="https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1340102/1263/772/m1/fpnw/wm1/worldmap_english_preview-.jpg?1465178047&s=a54039dd769474e51aab2064aa53e5ae" style="width: 100%; height: 100%; margin: 15px">

  
  </ion-content>
