<ion-header>
    <ion-toolbar>
        <ion-back-button defaultHref="" ></ion-back-button>
      <ion-title *ngIf="currentProperty">
        <div class= "center">Property Details</div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-img src="{{currentProperty.imgName}}" style= width:750px;height:500px;margin:10px></ion-img>
  
      <ion-card>
        <h1>Location: {{currentProperty.id}}</h1>

        <h2>Price: ${{currentProperty.price}} Per Night</h2>


        <ion-button shape="round" block href="/bookings"> Book Now</ion-button>
      </ion-card>
  
  
  
  
  
    </ion-content>