<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/tabs/tab4" ></ion-back-button>
          </ion-buttons>
      <ion-title><div class="center"><h1>Rental Details: Montreal, Canada</h1></div></ion-title>
    </ion-toolbar>
  </ion-header>
  <img id="Montreal" src="http://static.trip101.com/paragraph_media/pictures/001/612/529/large/1514a6b6_original.jpg?1556004699" style="width: 50%; height: 55%; margin: 15px">
  
  <ion-content>
  
  </ion-content>

