<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/tabs/tab4" ></ion-back-button>
          </ion-buttons>
      <ion-title><div class="center"><h1>Rental Details: {{currentTripId}}</h1></div></ion-title>
    </ion-toolbar>
  </ion-header>
  <img id="{{currentTripId}}" src="{{currentTripImgName}}" style="width: 50%; height: 55%; margin: 15px">
  
  <ion-content>
      <ion-chip>
          ${{currentPrice}} Per Night
        </ion-chip>
        <ion-chip>
          {{currentStartDate}} through {{currentEndDate}}
        </ion-chip>
       
  </ion-content>
