<ion-grid>
    <ion-buttons>
        <ion-back-button defaultHref="" ></ion-back-button>
      </ion-buttons>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Welcome to AirBnB!</h4>
        </div>

       

        <div class="ion-padding">
            <ion-item>
              <ion-label>Name</ion-label>
              <ion-input [(ngModel)]="user.name"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input [(ngModel)]="user.email"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input [(ngModel)]="user.password" type="password"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Where do you live?</ion-label>
              <ion-input [(ngModel)]="user.livesin"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Phone Number</ion-label>
              <ion-input [(ngModel)]="user.phonenumber"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Facebook</ion-label>
              <ion-input [(ngModel)]="user.facebook"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Today's Date?</ion-label>
              <ion-input [(ngModel)]="user.today"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Profile Photo URL</ion-label>
              <ion-input [(ngModel)]="user.profilephoto"></ion-input>
            </ion-item>
        </div>
  
        
        <ion-button expand="block" (click)="submit()">Submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>